ion-modal#example-modal {
  --width: fit-content;
  --min-width: 90%;
  /* --min-height: 40vh; */
  --height: fit-content;
  --border-radius: 30px;
  --box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4);
}

ion-modal#example-modal h3 {
  color: #333 !important;
  font-weight: bold;
  font-size: 26px;
  text-align: center;
  /* margin: 20px 0px 0px; */
}

ion-modal#example-modal ion-label {
  font-size: 1.5em !important;
  margin: 1.3rem 0em;
}

.circleDiv {
  border: 2px solid;
  height: 40px;
  width: 40px;
  margin-right: 10px;
  border-radius: 50%;
}

.wrapper {
  padding: 15px 0px;
}

.blurBox {
  filter: blur(8px);
  -webkit-filter: blur(8px);
}

.logout {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 20px;
}

.logoutIcon {
  background-color: #ff2400;
  color: #fff;
  border-radius: 50%;
  font-size: 30px;
}
